@import "variables";

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  background-color: black;
  font-size: 12px;

  hr {
    border: none;
    border-top: .1px solid $grey;
    //margin: 0;
  }

  header {
    background-color: rgb(0, 0, 0);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cu {
      margin: 0;
      display: flex;
      height: 6vh;

      .more {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 15px;

        img {
          width: 75px;
          margin: 2.5px 2.5px;
        }
      }
    }

    navigation {
      width: 100%;
      .menu-item {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 2em;
        color: $grey;
    
        li {
          list-style-type: none;
          cursor: pointer;
        }

        li:hover {
          color: $matte-red;
        }
      }
    }

    .g20 {
      img {
        height: 6vh;
      }
    }
  }

  

  .hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 1px solid black;

    .left {
      width: 50%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
      }
    
    /* Apply the animation to the image */
      img {
        width: 50%;
        animation-name: spin;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      // .hero-title {
      //   font-size: 8px;
      //   color: whitesmoke;
      // }
    }

    .right {
      color: $global-white;
      width: 50%;
      text-align: center;
    
      .counter {
        #name {
          color: $global-white;
          font-family: "Roboto", sans-serif;
          font-size: 4em;
          font-weight: bolder;
        }

        p {
          font-size: 1.4em;
          color: $grey;
        }
        
        #counter {
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          font-size: 6em;
          font-weight: bolder;
          background: linear-gradient(to right, #F12711, #F5AF19, #29ABE2, #843CF6);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          //background-clip: border-box;
          margin-top: 0;
        }
      }
    
      .register-btn {
        button {
          :hover {
            cursor: pointer;
          }
          font-size: 3em;
          //border-radius: 10px;
          padding: 10px 25px;
          border: none;
          background-color: $matte-red;
          color: $global-white;
        }
      }
    }
    

    
  }

  .country-strip {
    width: 100%;
    overflow: hidden;
    margin: 0 0 0 0;

    .hero-title {
      background-color: white;
      color: black;
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;

      h2 {
        margin: 0 0 10px 0;
      }
    }

    @keyframes marquee {
      0%   { transform: translateX(0); }
      100% { transform: translateX(-100%);}
    }

    .flags {
      display: flex;
      height: 4vh;
      animation: marquee 10s linear infinite;
      animation-iteration-count: infinite;
    }
  }



}