.about 
 h2 
  span ABOUT 
  | G20 HACKATHON
 p G20 Hackathon is a 24hrs long online/offile hackathon, that will be hosted in chandigarh university for 7+ tracks where students will participate and propose a solution for the problem statement. the hackathon is open for students from g20 countries.