.country-strip
        .hero-title
          h2 1st Time in the World for G20 Countries showcase the Techno-Intellect strength.
        .flags 
          img(src="images/logos/flags/germany.png")
          img(src="images/logos/flags/mexico.png")
          img(src="images/logos/flags/indonesia.png")
          img(src="images/logos/flags/japan.png")
          img(src="images/logos/flags/italy.png")
          img(src="images/logos/flags/brazil.png")
          img(src="images/logos/flags/france.png")
          img(src="images/logos/flags/safrica.png")
          img(src="images/logos/flags/saudi.png")
          img(src="images/logos/flags/usa.png")
          img(src="images/logos/flags/canada.png")
          img(src="images/logos/flags/india.png")
          img(src="images/logos/flags/russia.png")
          img(src="images/logos/flags/skorea.png")
          img(src="images/logos/flags/turkey.png")
          img(src="images/logos/flags/uk.png")
          img(src="images/logos/flags/china.png")
          img(src="images/logos/flags/australia.png")
          img(src="images/logos/flags/argentina.png")
          img(src="images/logos/flags/eu.png")
          
          img(src="images/logos/flags/germany.png")
          img(src="images/logos/flags/mexico.png")
          img(src="images/logos/flags/indonesia.png")
          img(src="images/logos/flags/japan.png")
          img(src="images/logos/flags/italy.png")
          img(src="images/logos/flags/brazil.png")
          img(src="images/logos/flags/france.png")
          img(src="images/logos/flags/safrica.png")
          img(src="images/logos/flags/saudi.png")
          img(src="images/logos/flags/usa.png")
          img(src="images/logos/flags/canada.png")
          img(src="images/logos/flags/india.png")
          img(src="images/logos/flags/russia.png")
          img(src="images/logos/flags/skorea.png")
          img(src="images/logos/flags/turkey.png")
          img(src="images/logos/flags/uk.png")
          img(src="images/logos/flags/china.png")
          img(src="images/logos/flags/australia.png")
          img(src="images/logos/flags/argentina.png")
          img(src="images/logos/flags/eu.png")