.guest
  h1 To be inaugurated by Honorable PM of India
  .container 
    .guest-card 
      img(src="images/jaishankar.png")
      p Dr. S Jaishankar
      | Minister of Foreign Affairs
    .guest-card 
      img(src="images/modi.jpg")
      p Shri Narendra Modi
      | Prime Minister
    .guest-card 
      img(src="images/pradhan.png")
      p Shri Dharmendra Pradhan
      | Education Minister