header
      .cu
        img(src="images/logos/cu.png", alt="not found", class="logo", id="cu")
        .more 
          img(src="images/logos/naac.png", alt="not found", class="logo", id="naac")
          img(src="images/logos/qs.png", alt="not found", class="logo", id="qs")

      navigation
        ul.menu-item 
          li Prizes
          li Timeline 
          li FAQs
          li Guidelines 
          li Guest
          li Accomodation 

      .g20
        img(src="images/logos/g20.png", alt="not found", class="logo", id="g20")