section.hero
        .left
          img(src="images/logos/ashoka-chakra.png")
          //- .hero-title
          //-   h2 1st Time in the World for G20 Countries showcase the Techno-Intellect strength.
        .right 
          .counter
            h1#name G20 HACKATHON
            p Registration starting in
            h1#counter
          .register-btn
            button Register Now