.tracks
    h1 Tracks are aligned with the UN SDG Goals
    ul.track-list
      img(src="images/tracks/software.png", id="software")
      img(src="images/tracks/health.jpg", id="health")
      img(src="images/tracks/piracy.jpg", id="piracy")
      img(src="images/tracks/renewable.jpg", id="renewable")
      img(src="images/tracks/testing.jpg", id="testing")
      img(src="images/tracks/hygiene.jpg", id="hygiene")
      img(src="images/tracks/brand.jpg", id="brand")
      img(src="images/tracks/other.jpg", id="other")